{% extends 'layout.html.twig' %}

{% block content %}
    <section class=" text-center text-lg-start">
        <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
                <div class="col-lg-4 d-none d-lg-flex">
                    <img src="/assets/images/man-choosed-motorcycles-moto-shop-guy-black-jacket-manager-with-client.jpg" alt="Trendy Pants and Shoes"
                         class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                </div>
                <div class="col-lg-8">
                    <h1 class="ms-5"> Please log in!</h1>
                    <div class="card-body py-5 px-md-5">
                        <form method="post">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="email" name="email" class="form-control" />
                                <label class="form-label" for="email">Email address</label>
                                {% if error.email is not empty %}
                                    <p style="color: red">{{ error['email'] }}</p>
                                {% endif %}
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="password" name="password" class="form-control" />
                                <label class="form-label" for="password">Password</label>
                                {% if error.password is not empty %}
                                    <p style="color: red">{{ error['password'] }}</p>
                                {% endif %}
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-warning btn-block mb-4">Sign in</button>
                        </form>

                        <h6>Not a user yet? <a class="DG-color-yellow" href="/user/register">Register now!</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
