



.cd-card {

    border-radius: 8px;
    padding: 0px;
    border: 1px solid lightgrey;
}



.cd-image-card {
    width: 100%;
    border-bottom: 2px solid #ddd;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.cd-model {
    font-weight: bold;
    overflow: hidden;
}

.cd-model, .cd-titre-annonce {
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




