@import "header.css";

@import "show.css";

@import "card.css";
@import "indexButton.css";

textarea {
    resize: none;
}
.DG-color-yellow {
    color:#ffc107;
}

a {
    color:#ffc107;
    text-decoration: none;
}
button:hover,
a:hover {
    color:black;
    text-decoration: none;
}
