<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Logo -->
    <div class="container">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/car.svg" width="30" height="30" alt="Logo">
    </a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Left links -->
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">DB-Schema</a>
            </li>
        </ul>

        <!-- Right links and search bar -->
        <ul class="navbar-nav ms-auto">
            <form class="d-flex" action="#" method="get">
                <input class="form-control me-2 form-control-cd" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary btn-outline-secondary-cd" type="submit">Search</button>
            </form>

            <li class="nav-item">
                <a class="btn btn-outline-secondary" href="/user/login">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary" href="/user/register">Register</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
